
body {
  width: 1000px;
}
.board {
  width: 700px;
  height: 700px;
  background-image: url('space.jpg');
  background-repeat: no-repeat;
  /*background-color: #333;*/
  display: block;
  margin: 25px;
  margin-right: auto;
  margin-left: auto;
}
/*.collision {
  width: 700px;
  height: 700px;
  background-color: yellow;
  display: block;
  margin: 25px;
  margin-right: auto;
  margin-left: auto;
}*/

.hit {
  background-color: yellow;
  font-size: 100px;
  padding: 20px 20px 20px 20px;
  border: 20px 20px 20px 20px;
}
.asteroid{
  background-image: url('asteroid-impact.jpg');
  background-repeat: no-repeat;
  height: 700px;
  width: 700px;
  margin: 25px;
  margin-right: auto;
  margin-left: auto;
}

/*.image{
 -webkit-transform: rotate(360deg);
 -webkit-animation-name:rotate;
 -webkit-animation-duration: 0.5s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 -webkit-transform-origin: 50% 50%;
}*/

/*.enemies {
/*    margin: 20px;*/
/*    width: 100px;
    height: 100px;*/
    /*background: #f00;
    animation-name: spin;
    animation-duration: 4000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
    /*position: relative;*/

/*}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}*/

/*@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}*/

/*.enemies {
  r: 50;
  animation-name: whirl;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes whirl {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/




